*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

#board-container {
  width: 90%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 50px auto;
}

.board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  border: 1px solid #B4B4FF;
}

.grid-item {
  border: 1px solid #B4B4FF;
}

.title {
  font-size: 2rem;
  margin: 20px;
}

.display-message {
  margin: 20px;
  padding: 10px;
  background: #e9e9eb;
  width: 40%;
}

.board-label {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.player-board,
.computer-board {
  background: #e9e9eb;
  padding: 5px;
}

#computer-board .grid-item {
  cursor: pointer;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 20px;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.random-btn {
  background: #1818df;
  color: #fff;
}

.start-btn {
  background: #1818df;
  color: #fff;
  width: 150px;
}

.playerShips {
  height: 100%;
  width: 100%;
  background: #7e7ec9;
}

.hit {
  background: #08ee08;
}

.miss {
  background: #d81616;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

dialog {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  width: 300px;
  z-index: 11;
  border: none;
  border-radius: 20px;
}

.dialog-text-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
}

.game-over {
  font-weight: bold;
  margin-top: 20px;
  font-size: 2rem;
}

.winner {
  font-size: 1.5rem;
}

.dialog-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restart,
.cancel {
  width: 300px;
  font-weight: bold;
  font-family: inherit;
  color: #fff;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.restart {
  background: #029302;
}

.cancel {
  background: #d81616;
}

.restart:hover,
.cancel:hover {
  transform: scale(1.1);
}
